<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<style type="text/css">

html {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin-top: 3rem;
}

.box {
  display: flex;
}

.right {
  flex-grow: 4;
  margin-left: 2rem;
}

p:first-of-type {
  margin: 0;
}

img {
  max-width: 10rem;
}

h1, h2 {
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

dt {
  margin-top: 1rem;
}

a, 
a:visited {
  color: #7589a3; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}

span {
  min-width: 1rem;
}

</style>
